/*@media screen and(min-width: 1280px) {*/
/*    .container {*/
/*        width: 1280px;*/
/*    }*/
/*}*/

input[type="range"] {
    float: left;
    width: 60%;
}

input[type="number"] {
    float: right;
    text-align: center;
    height: 2.0em;
    width: 60px;
    padding: 0;
    margin: 0;
}

input[type="checkbox"] {
    margin: 0 5px 1px;
}

input[type="radio"] {
    margin: 0 5px 1px;
    height: 1em;
}

.td-text-overflow {
    overflow: auto;
    max-height: 75px;
}

.p input {
    vertical-align: middle;
}

.table-wrapper {
    width: 100%;
    height: auto;
    overflow: auto;
}

.btn-sort {
    /*border-radius: 5px;*/
    /*float: right;*/
    color: #777777;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .17);
}

#fav-container .pagination ul > .active > a,
#fav-container .pagination ul > .active > span {
    background: #2F9EC2;
    color: white;
}

#fav-container .pagination ul > li > a,
#fav-container .pagination ul > li > span {
    float: left;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

ul.pagination-list > li.hide {
    display: none;
}


div.pagination > span {
    display: block;
}

div.pagination > span > p {
    display: inline;
}

div.pagination > span > select {
    width: 75px;
}

/* resizing default table */
table.reactome {
    width: 99%;
}